
token.json
WHERE_YOU_LEFT_OFF_NOTES.txt
working_data/convert_numbers.py
working_data/convert_numbers_traits.py
working_data/emergency_insertion_command.py
working_data/extract_roles.py
working_data/extract_table.py
working_data/extract_traits.py
working_data/FIST Ultra Edition (Alpha).pdf
working_data/fist_roles.json
working_data/fist_roles2.json
working_data/fist_roles_corrected_numbers.json
working_data/fist_traits.json
working_data/fist_traits2.json
working_data/fist_traits_corrected_numbers.json
working_data/FIST_Ultra_Edition_pre_Beta_release_4-14-23.pdf
working_data/intel_matrices_approximation.json
working_data/intel_matrices_approximation_noindent.json
working_data/intel_matrices_raw_data.json
working_data/intelligence_matrices.json
working_data/num_converter.py
working_data/PI ORDER.url
working_data/search_for_trait.py
